#container {margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    }

body {background-color: #BFB8AA;}


h1 {font-size: 62pt;
color: #ffffff;
font-family: brush hours;
letter-spacing: 2px;
top: 1;
}

h2 {color: #ffffff;
background-color: rgba(89, 3, 26, 0.5);
font-size: 48pt;
position: absolute;
right: 0;
padding: 100px;
padding-top: 120px;
padding-bottom: 120px;
font-family: pulchella free;
letter-spacing: 2px;
z-index: 2;
bottom: 0px;
}

h3 {background-color: #9BB6A5;
color: #283E31;
font-family: lemon milk;
letter-spacing: 2px;
padding: 10px;
}

h4 {background-color: #9BB6A5;
color: #BFB8AA;
padding: 10px;
font-family: lemon milk;
letter-spacing: 2px;
}

img {position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;}

.about {margin: auto;}

.image1 img {position: static;
    place-self: end;
    padding: 10px;
    top: auto;
    margin-top: 50px;
}


.hobbies p {background-color: rgba(89, 3, 26, 0.5);
padding: 10px;
flex-wrap: wrap;
width: 800px;
float: right;
font-family: Mrs Eaves XL Serif Nar OT;
font-size: 25pt;
}

.about p {background-color: rgba(89, 3, 26, 0.5);
    padding: 10px;
flex-wrap: wrap;
width: 800px;
float: inherit;
top:80px;
font-family: Mrs Eaves XL Serif Nar OT;
font-size: 25pt;
}

.navbar {overflow:hidden;
    float: right;
    width: 40%;
    text-align: right;
    font-family: pulchella free;
    font-size: 32pt;
    background-color: rgba(204, 127, 29, 0.5);
    border-style: none;
    padding-top: 10px;
    text-align: center;
    top: 70px;
    z-index: 1;
    }
    
    .navbar a {text-align: center;
    display:inline;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    }
    
    .navbar a:link {color: #ffffff;}

    .navbar a:hover {text-decoration: underline;
    color: #283E31;
;}
    .navbar a:visited {color: #ffffff;}

li {font-family: times sans serif;
font-size: 18pt;
color: #283E31;
}

p {color: #ffffff;
font-family: Miller Display;
position: static;
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;

  }

.container div {margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    }
    
    .card {
    padding: 10px;
    transition: 0.3s;
    width: 50%;
    display: inline;}
    
    .card-title {text-align: center;
    font-size: 2em;
    background-color: #59031A;
    font-weight: 400;
    color:#BFB8AA;
    font-family: baron neue;
    letter-spacing: 2px;}
    
    .card-content {padding: 2px 16px;
    }
    
    .card a:hover {box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.2);
    
    }

a:link {color:#59031A;
text-decoration: none;
}

a:visited {color: #BF1553;
text-decoration: none;
}

a:hover {color:#9BB6A5;
text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 99%;
    margin-top: auto;}
    
    footer p {color: #FEE9F2;
    font-weight: 400;
    padding-right: 10px;
    font-family: Mrs Eaves XL Serif Nar OT;
    font-style: italic;
    letter-spacing: 2px;
    text-align: right;}
    
    footer a {text-decoration: none;
    color: #FEE9F2;}
    
    footer a:hover {text-decoration: underline;}
