#container {margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    }

body {background-color: #BFB8AA;}
h1 {background-color: #59031A;
color: #ffffff;
font-family: brush hours;
letter-spacing: 2px;
padding: 10px;
}

h2 {background-color: #59031A;
    opacity: 50%;
color: #FEE9F2;
font-family: Mrs Eaves XL Serif Nar OT;
padding: 10px;
letter-spacing: 2px;
float: right;
}

h3 {background-color: #9BB6A5;
color: #283E31;
font-family: lemon milk;
letter-spacing: 2px;
padding: 10px;
}

h4 {background-color: #9BB6A5;
color: #BFB8AA;
padding: 10px;
font-family: lemon milk;
letter-spacing: 2px;
}

img {background-color: #BFB8AA;}

.navbar {overflow: hidden;
    font-family: Mrs Eaves XL Serif Nar OT;
    background-color: #90A68A;
    border-style: none;
    border-bottom: 15px;
    padding: 14px 16px;
    }
    
    .navbar a {text-align: left;
    display:inline;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    }
    
    .navbar a:hover {background-color: #BFB8AA ;
    color: #283E31;}

li {font-family: times sans serif;
font-size: 18pt;
color: #283E31;
}

p {color: #ffffff;
font-family: Miller Display;
}

.container div {margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    }
    
    .card {
    background-color: #59031A;
    padding: 10px;
    transition: 0.3s;
    width: 50%;
    display: inline;}
    
    .card-title {text-align: center;
    font-size: 2em;
    background-color: #59031A;
    font-weight: 400;
    color:#BFB8AA;
    font-family: baron neue;
    letter-spacing: 2px;}
    
    .card-content {padding: 2px 16px;
    }
    
    .card a:hover {box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.2);
    
    }

a:link {color:#59031A;
text-decoration: none;
}

a:visited {color: #BF1553;
text-decoration: none;
}

a:hover {color:#9BB6A5;
text-decoration: none;
}

footer {background-color: #59031A;
    position: fixed;
    bottom: 0px;
    width: 99%;
    margin-top: auto;}
    
    footer p {color: #FEE9F2;
    font-weight: 400;
    padding-right: 10px;
    font-family: Mrs Eaves XL Serif Nar OT;
    font-style: italic;
    letter-spacing: 2px;
    text-align: right;}
    
    footer a {text-decoration: none;
    color: #FEE9F2;}
    
    footer a:hover {text-decoration: underline;}
